.inputComponent {
  position: absolute;
  top: 85%;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 70%;
  height: 60px;
  display: flex;

  input {
    border: none;
    border-radius: 30px;
    background-color: rgba(67, 65, 65, 0.781);
    width: 100%;
    height: 100%;
    padding-right: 50px;
    padding-left: 10px;
    font-size: 16px;
    color: rgb(254, 248, 248);

    &::placeholder {
      color: #999;
      font-size: 20px;
      padding-left: 10px;
    }
  }

  button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(122, 119, 119);
    color: rgb(180, 174, 174);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }
}
