.popup {
  background-color: rgb(67, 65, 65);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: auto;
  text-align: center;
}

.selectVersion,
.selectLanguage {
  margin-bottom: 15px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(44, 42, 42);
  font-size: 16px;
  color: #999;
}

button {
  background-color: rgb(44, 42, 42);
  color: #999;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(248, 245, 245, 0.1);
}

button:disabled {
  cursor: not-allowed;
}
